:root {
	--primary-dark: #163020;
	--secondary-dark: #304d30;
	--terciary-dark: #597e52;
	--primary-light: #ffffec;
	--secondary-light: #f1e4c3;
	--terciary-light: #c6a969;
	--background: white;
	--font-family-primary: "Goldman";
	--font-family-title: "Teko";
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background);
	overflow-y: auto;
}

.hide-scroll::-webkit-scrollbar {
	display: none;
}

.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.nav-bar {
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	margin: 0 2vw;
}

.title-section {
	height: 38vh;
	display: flex;
}

.title-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 15px;
}

.title-name {
	font-family: var(--font-family-title);
	font-weight: bold;
	font-size: 5.2rem;
	height: 5rem;
	color: var(--primary-dark);
}

.title-sub {
	font-family: var(--font-family-primary);
	color: var(--secondary-dark);
	width: 100%;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 2vh 0;
}

.title-contact {
	height: fit-content;
	margin-left: -7px;
	margin-top: -10px;
}

.palette-bar {
	height: 100%;
	width: 20vw;
	display: flex;
	flex-direction: column;
}

.color-block {
	height: 16.6666666666667%;
	width: 100%;
}

.project-section {
	margin: 5vh 0;
	width: 100%;
}

.subtitle {
	font-family: var(--font-family-primary);
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--primary-dark);
	margin: 0 8vw;
}

.project-container {
	margin: 0 5vw;
}

.project-card {
	margin: 4vh 0;
	background-color: var(--secondary-light);
	border-radius: 15px;
	height: 22vh;
	box-shadow: rgba(0, 0, 0, 0.15) 2px 4px 2.6px;
}

.decoration-container {
	height: 100%;
	border: black 1px solid;
	width: 100%;
}

.decoration-oval {
	height: 6vh;
	background-color: var(--primary-light);
	width: 100%;
	border-top-right-radius: 100%;
	position: absolute;
	bottom: 0;
}

.about-me-section {
	width: 100%;
	margin: 5vh 0;
}

.about-me-container {
	margin: 3vh 8vw;
}

.about-me-text {
	font-family: var(--font-family-primary);
	font-size: 1.25rem;
	font-weight: 400;
	color: black;
}

.toolbox-section {
	width: 100%;
	margin: 5vh 0;
}

.toolbox-container {
	display: grid;
	gap: 0.5vw;
	grid-template-columns: repeat(3, 1fr);
	margin: 3vh 8vw;
}

.cv-button-container {
	margin: 0 8vw;
}

.cv-button {
	height: 8vh;
	margin: 5vh 0;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--secondary-dark);
	font-family: var(--font-family-primary);
	color: white;
	font-size: 1.5rem;
}

footer {
	width: 100%;
	background-color: white;
	text-align: center;
	border-top: solid 4px var(--terciary-light);
	padding: 10px;
}

.lamp {
	height: 8vh;
}

@media screen and (min-width: 768px) {
	.container {
		margin: 1em 2em;
	}
}

.element-container {
	display: grid;
	height: 24vh;
	margin: 4vh 0;
	background-color: var(--secondary-light);
	z-index: 1;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.15) 2px 4px 2.6px;

}

.element-decoration {
	grid-column: 1;
	grid-row: 1;
	z-index: 2;
	margin-top: 33%;
	border-top-right-radius: 100%;
	background-color: var(--primary-light);
}

.element-img{
	align-self: center;
	margin: 0 4vw;
	z-index: 3;
	background-color: white;
	height: 20vh;
	grid-column: 1;
	grid-row: 1;
	border-radius: 15px;
}
