:root {
	--primary-color: #262d2a;
	--secondary-color: #116466;
	--terciary-color: #d9b08c;
	--lightPrimary-color: #fffbf5;
	--lightSeconday-color: white;
	--h1-font-size: 7vw;
	--p-font-size: 2vw;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fffbf5;
	font-family: "Signika Negative", sans-serif;
	overflow-y: auto;
}

.hide-scroll::-webkit-scrollbar {
	display: none;
}

.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.nav-bar {
	display: flex;
	position: fixed;
	z-index: 1;
	left: 20%;
	border: var(--secondary-color) solid;
	border-top: none;
	border-radius: 0 0 20px 20px;
	width: 60%;
	height: 50px;
	margin: auto;
	font-weight: bold;
	color: var(--secondary-color);
	background-color: #ffffff;
}

.nav-ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	list-style-type: none;
	padding: 0 15%;
}

.page1 {
	display: flex;
	width: 100%;
	height: 100vh;
	padding: 8% 10%;
}

.page1left {
	width: 50%;
	height: 100%;
}

.page1right {
	width: 45%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
}
.front-message {
	padding: 5% 0;
}

.name {
	font-size: var(--h1-font-size);
	font-weight: bold;
	color: var(--secondary-color);
}

.pFormat {
	font-size: var(--p-font-size);
	font-weight: bold;
	color: var(--terciary-color);
}

.stickerContainer {
	display: flex;
	border: 10px solid var(--secondary-color);
	height: 32vw;
	width: 36vw;
	overflow: hidden;
	background-image: url("../images/fabric_bg.png");
}

.stickerCanvas {
	height: 100%;
	width: 100%;
}

.sticker {
	position: absolute;
	z-index: 0;
}

.stickerInstruction {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.wrapper {
	position: relative;
	width: 100%;
	height: auto;
}


.contact-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 20%;
	margin-top: 30px;
}

.highlight {
	color: var(--secondary-color);
}

.page2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 5% 10%;
    background-color: var(--primary-color);
}

.infoHeader p{
    font-size: var(--p-font-size);
    font-weight: bold;
    color: var(--terciary-color);
}

.divisionLine{
    width: 100%;
    border-radius: 5px;
    height: 3px;
    background-color: var(--terciary-color);
    margin: 10px 0;
}

.projectGallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    gap: 2vw;
    margin-top: 3%;
    height: 100%;
    padding: 0 5%;
}

.projectItems{
    background-color: var(--lightPrimary-color);
    border: var(--secondary-color) solid 10px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.projectItems img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.projectItem1 {
    grid-column: 1;
    grid-row: 1 / 3;
}

.projectItem2{
    grid-column: 2 / 4;
}

.footer{
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signature{
    margin: 2% 0;
}

.lamp{
    height: 4vw;
}

